.mainContent{
    max-width: 1200px;
    margin: 0 auto;
}


#Header{
    text-align:center;
    padding-top: 10px;
    font-size:30px;
    color:white;
}

.p0{
    height:100px;
    width:100%;
    background-color:lightblue;
}

/*****************************************************************************/

#MainContent{
    text-align:center;
    font-size:30px;
    color:white;
}

.p2{
   float:right;
   height:150px;
   width:100%;
   background-color:rgb(212, 212, 54);
   margin-top:5px;
}